services:
  - type: web
    name: collab-board
    env: node
    plan: free
    branch: main
    rootDir: .
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production

